<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".PolyStuffApp"
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PdfViewerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SubjectContentActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SubjectListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SimpleActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="true">
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="myapp.org.userapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Dashboard" android:exported="false" />
        <activity android:name=".Dashboard2" android:exported="false" />

        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".ComputerLevels" android:exported="false"/>
        <activity android:name=".rateus" android:exported="false"/>
        <activity android:name=".notifications" android:exported="false"/>
        <activity android:name=".Semesters" android:exported="false" />
        <activity android:name=".levels2" android:exported="false" />
        <activity android:name=".ItLevels" android:exported="false" />
        <activity android:name=".levels3" android:exported="false" />
        <activity android:name=".levels4" android:exported="false" />
        <activity android:name=".levels4b" android:exported="false" />
        <activity android:name=".levels5" android:exported="false" />
        <activity android:name=".levels1_it" android:exported="false" />
        <activity android:name=".levels2_it" android:exported="false" />
        <activity android:name=".levels3_it" android:exported="false" />
        <activity android:name=".levels4_it" android:exported="false" />
        <activity android:name=".levels4b_it" android:exported="false" />
        <activity android:name=".levels5_it" android:exported="false" />

        <activity android:name=".OnlineCoursesFragment" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".VideosFragment" android:exported="false"
            tools:ignore="Instantiatable" />
        <activity android:name=".ProfileFragment" android:exported="false"
            tools:ignore="Instantiatable" />

        <activity android:name=".feedback" android:exported="false"/>
        <activity android:name=".edit_profile" android:exported="false"/>
        <activity android:name=".ds_course_info" android:exported="false"/>
        <activity android:name=".LogoutActivity" android:exported="false"/>
        <activity android:name=".cpp_information" android:exported="false"/>
        <activity android:name=".java_information" android:exported="false"/>
        <activity android:name=".python_information" android:exported="false"/>
        <activity android:name=".iot_information" android:exported="false"/>
        <activity android:name=".php_information" android:exported="false"/>
        <activity android:name=".c_information" android:exported="false"/>

        <activity android:name=".ds" android:exported="false"/>
        <activity android:name=".cpp" android:exported="false"/>
        <activity android:name=".os" android:exported="false"/>
        <activity android:name=".acn" android:exported="false"/>
        <activity android:name=".cc" android:exported="false"/>
        <activity android:name=".aap" android:exported="false"/>
        <activity android:name=".pwp" android:exported="false"/>
        <activity android:name=".dmi" android:exported="false"/>
        <activity android:name=".jp2" android:exported="false"/>

        <activity android:name=".SubjectDetailActivity" android:exported="false" />
        <activity android:name=".CurriculumActivity" android:exported="false" />

        <activity android:name=".VideoFullScreen"
            android:screenOrientation="landscape" />

    </application>
</manifest>